@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #f1f1f1;
    color: #0f141e;

    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
.avatar{
    width: 200px;
    border-radius: 15px;
    box-shadow: 10px 10px 14px rgba(0,0,0,0.25);
}
.info p{
color: #86898f;
margin: 0;
font-style: italic;
font-weight: bolder;
text-decoration: none;
/*text-transform: capitalize;
letter-spacing: 5px;*/
}
.container{
    width: 75%;
}
.social{
    
}
